<nav class="form-navigation">
	<ul>
		<f:if condition="{form.previousPage}">
			<li class="previous">
				<f:form.button name="__currentPage" value="{form.previousPage.index}" formnovalidate="formnovalidate" class="btn btn-cancel"><f:translate id="forms.navigation.previousPage" package="{form.renderingOptions.translationPackage}">Previous page</f:translate></f:form.button>
			</li>
		</f:if>
		<f:if condition="{form.nextPage}">
			<f:then>
				<li class="next">
					<f:form.button name="__currentPage" value="{form.nextPage.index}" class="btn btn-primary"><f:translate id="forms.navigation.nextPage" package="{form.renderingOptions.translationPackage}">Next page</f:translate></f:form.button>
				</li>
			</f:then>
			<f:else>
				<li class="next submit">
					<f:form.button name="__currentPage" value="{form.pages -> f:count()}" class="btn btn-primary">
						<f:if condition="{form.renderingOptions.submitButtonLabel}">
							<f:then>
								{form.renderingOptions.submitButtonLabel -> f:translate(package: '{form.renderingOptions.translationPackage}')}
							</f:then>
							<f:else>
								<f:translate id="forms.navigation.submit" package="{form.renderingOptions.translationPackage}">Submit</f:translate>
							</f:else>
						</f:if>
					</f:form.button>
				</li>
			</f:else>
		</f:if>
	</ul>
</nav>