<f:form.validationResults for="{element.identifier}">
	<div class="clearfix{f:if(condition: validationResults.flattenedErrors, then: ' error')}">
		<label for="{element.identifier}">{element.label}</label>
		<div class="input">
			<f:render section="field" />
			<f:if condition="{validationResults.flattenedErrors}">
				<span class="help-inline">
					<f:for each="{validationResults.errors}" as="error">
						{error}<br />
					</f:for>
				</span>
			</f:if>
		</div>
	</div>
</f:form.validationResults>